<!DOCTYPE html>
<html>
    <head>
        <title>Product</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div id="products"><%- include('products') %></div>
        <div id="cart"><%- include('shoppingcart') %></div>
    </body>
</html>
