<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Products</title>
    <link href="/style/style.css" rel="stylesheet" />
  </head>
  <body>
    <h2>Market</h2>
    <div id="main">
      <div id="products"><%- include('product') %></div>
      <div id="cart"><%- include('Shoppingcart') %></div>
    </div>
  </body>
</html>
