<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Magic 8 ball</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <h2>Magic 8 Ball</h2>
    <form>
      <label>Type your question:</label>
      <input type="text" name="txtQ" id="txtQ" />
      <input type="button" name="btn" id="btn" value="Ask 8 Ball" />
    </div>
  </body>
</html>
