<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Products</title>
    <link href="/style/style.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <h2>Market</h2>
    <div id="main">
      <div id="products"><%- include('product') %></div>
      <div id="cart"><%- include('Shoppingcart') %></div>
    </div>
  </body>
</html>
