body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}
#main {
  display: grid;
  grid-template-areas: "p p c";
}
#products {
  grid-area: p;
  padding: 10px;
}
#cart {
  grid-area: c;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
#product-container {
  margin: 10px;
  padding: 15px;
  background-color: lightblue;
  border: 2px solid gray;
  border-radius: 10px;
  width: fit-content;
}
#product-container h3 {
  padding: 0;
  margin: 0;
}
#product-container p {
  margin-top: 0;
  margin-bottom: 10px;
}
#product-container input[type="submit"] {
  background-color: gray;
  padding: 5px;
  border: none;
  color: white;
  border-radius: 5px;
}
input[type="submit"]:hover {
  cursor: pointer;
}
