<!DOCTYPE html>
<html>
    <head>
        <title>8 Ball Magic</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    </head>
    <body>
        <form id="8ballForm">
            <label for="qna">Question and Answer</label>
            <input type="text" id="qna">
            <input type="button" value="Ask 8 Ball" id="ask8ball">
        </form>
    </body>
</html>